body{
	background-color:#3D5E7F;
	font-family: Century Gothic, sans-serif;
}

div.chatWrapper div.banner{
	text-align: center;
	padding:20px;
	color:#63717F;
	background-color:#C6E3FF;
	border-bottom: 1px solid #3D5E7F;
}

div.mainWrapper{
	background-color:#FFF;
	height:100%;
	padding-top:10px;
}

div.loginWrapper{
	width:250px;
	border: 1px solid #3D5E7F;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

table.login td{
	text-align: center;
}

div.chatbox{
	width: 100%;
	height:500px;
}

div.messages{
	height:80%;
	padding: 5px;
	overflow-y:scroll;
}

div.inputArea{
	background-color:#C6E3FF;
	padding:5px;
	height:20%;
}

div.inputArea input{
	font-size: 1.1em;
	vertical-align: middle;
}

div.inputArea input[type="text"]{
	width:450px;
}

div.inputArea b{
	color:#3D5E7F;
}

span.sender{
	color: #3D5E7F;
}

span.info{
	color: #63717F;
	font-weight: bold;
	display: block;
}

span.errorMsg{
	color:red;
	font-size:0.8em;
}

span.tip{
	color:grey;
	font-size:0.8em;
}
