<div class="chatbox" ui-keypress="{13:'sendMessage()'}"  tabindex="0">
	<div class="messages" scroll-glue>
			<p ng-repeat="entry in messageList track by entry.key">
				<span class="sender">{{entry.name}}:</span>&nbsp;<span class="message">{{entry.message}}</span>
			</p>
	</div>
	<div class="inputArea">
		<span class="info">You are <b>{{name}}</b>. Welcome to the <b>{{roomId}}</b> Room.</span>
		<br />
		<input type="text" name="inputMsg" ng-model="message" />
		<input name="sendBtn" type="submit" value="Send" ng-click="sendMessage()" />
	</div>
</div>