<div class="loginWrapper"  ui-keypress="{13:'doLogin()'}">
	<table class="login">
		<tr>
			<th>
				<h2>Welcome!</h2>
			</th>
		</tr>
		<tr>
			<td>
				<label>Name:</label>
				<input name="name" type="text" ng-model="name"/>
				<br />
				<span class="errorMsg" ng-bind="nameError" />
			</td>
		</tr>
		<tr>
			<td>
				<label>Room:</label>
				<input name="room" type="text" ng-model="roomId" />
				<br />
				<span class="errorMsg" ng-bind="roomIdError" />
			</td>
		</tr>
		<tr>
			<td>
				<input name="okBtn" type="submit" value="OK" ng-click="doLogin()" />
			</td>
		</tr>
		<tr>
			<td>
				<br />
				<span class="tip"><i>Don't know where to go? Try the 'general' room.</i></span>
			</td>
		</tr>
	</table>
</div>
